@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;    
}
nav{
    background-color: rgb(255, 255, 255,0.1);
    width: 100%;
}
nav .nav-conatiner{
    display: flex;
    justify-content: space-between;
}
nav h3{
    color: white;
    letter-spacing: 2px;
    margin: 0 30px 0 0;
}
nav .logo{
    height: 60px;
    margin: 0 10px 0 0;
    
}
nav .menu-container{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav .nav-link{
    text-decoration: none;
    color: rgb(216, 218, 221);
    padding: 8px 12px;
    border-radius: 10px;

}
nav .nav-link:hover{
    background-color: rgb(75, 75, 75);
    transition: 1s;
}
nav .hamburger{
    display: none;
}
nav .hamburger-list-container .nav-link{
    display: block;
}

.hidden{
    display: none !important;
}
@media(max-width:1000px){
    nav h3{
        display: none;
    }
}
@media (max-width:600px){
    nav .hamburger{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        display: block;
    }
    .menu-container .nav-link{
        display: none;
    }
}
.socials{
    top: 35%;
    right: 0;
    position: fixed;
    width: 50px;
    padding: 10px 5px;
    border: 1px solid white;
    border-radius: 20px;


}
.socials img{
    width: 100%;
}
@media(max-width:600px){
    .socials{
        display: none;
    }
}
section{
    color: white;
}
h1{
    font-size: 30px;
    margin: 0;
    width: 16ch;
    animation: typing 2s , blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    align-items: center;
    justify-content: center;
  
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
p{
    font-size: 18px;
}
.main-section{
    height: 75vh;
    display: flex;
    align-items: center;
}
.introduction{
    width: 40vw;
    padding: 30px;
    border-left:4px solid white ;
}
.headshot{
    border-radius: 50%;
    padding: 40px;
    margin-left: 10vw;
}

@media screen and (max-width:1000px){
    .main-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .introduction{
        width: 90vw;
        border-left: none;
        text-align: center;
    }
    .headshot{
        margin-left:0 ;
    }
}

/* .arrow{

    border: solid white;
    border-width: 0 8px 8px 0;
    padding: 15px;
    display: inline-block;
    transform: rotate(45deg);
}
.bounce{
    padding: 70px 0 0 70px;
    animation: bounce 2s infinite;
}
 @keyframes bounce{
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
 } */
 .tech {
    text-align: center; /* Center the text */
  }
  
  .skill_set {
    display: inline-block;
    text-align: center;
    border: 2px solid #ccc; /* Add a border */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    margin: 20px auto; /* Center the div */
  }
  
  .skill {
    display: inline-block;
    margin: 10px; /* Add space between skills */
  }
  
  .skill img {
    width: 50px; /* Set image size */
    height: 50px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 18px;
  }
  footer {
    background-color: rgb(255, 255, 255,0.1);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  footer a {
    color: #fff;
    text-decoration: underline;
  }
  
  footer a:hover {
    color: #ccc;
  }
  .heart {
    color: red;
    font-size: 24px;
}
hr{
   
    height: 0.1px;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: -1;
    top: 0;
    left: 0;
}

